:root {
    --slate-900: #0f172a;
    --slate-700: #334155;
    --slate-500: #64748b;
    --slate-300: #cbd5e1;
    --slate-100: #f1f5f9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(var(--slate-900), var(--slate-700));
    color: var(--slate-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.game-area {
    display: flex;
    gap: 100px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cell {
    font-size: 3.0rem;
    border: 2px solid var(--slate-100);
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.controls>div {
    display: flex;
    gap: 15px;
}

.hide {
    display: none;
}

.prompt {
    position: absolute;
    background-color: var(--slate-300);
    color: var(--slate-900);
    padding: 20px;
    border-radius: 10px;

}

.current-player {
    color: goldenrod;
}